*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font: normal 100%/1.3 "pretendard";
    color: #333;
    
}

.container{
    width: 100%;

    
    margin:  auto;
    overflow-x: hidden;
    
}

header{
    position: relative;
    height: 181px;
    width: 100%;

}
header .whitebox{
    
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    height: 300px;
    background: rgba(255,255,255,0.8);
    z-index: 200;
    display: none;
}
header .logo{

}
header .logo img{
  position: absolute;
  top: 59px;
  left: 10%;
  width: 200px;
  height: 50px;
}

header nav{
   position: absolute;
   top: 40px;
   left: 25%;
   z-index: 200;
   padding: 30px;
   
   
}

header nav .navlist{
    overflow: hidden;
}
header nav .navlist > li{
    float: left;
    padding-left: 50px;
}
header nav .navlist > li > a{
    display: block;
    font-size: 25px;
    text-align: center;
    
}

header nav .navlist > li .sublist{
    position: absolute;
    margin-top: 20px;
    display: none;
}

header nav .navlist > li .sublist > li{}
header nav .navlist > li .sublist > li > a{
    display: block;
    font-size: 18px;
    padding-top: 20px;
  
}

.banner{
    position: relative;
    height: 792px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}

.banner .slide1{
    background: url(../img/slide/slide1.png) no-repeat 0 0;
    background-position: 50%;
    width: 100%;
    height: 793px;
    background-size: cover;
}
.banner .slide2{
    background: url(../img/slide/slide2.png) no-repeat 0 0;
    background-position: 50%;
    width: 100%;
    height: 793px;
    background-size: cover;
}
.banner .slide3{
    background: url(../img/slide/slide3.png) no-repeat 0 0;
    background-position: 50%;
    width: 100%;
    height: 793px;
    background-size: cover;
}

.bnwrap{
    position: relative;
}
 .btn{

}
 .btn.type1{
  position: absolute;
  top: 330px;
  right: 2%;
}
 .btn.type2{
    position: absolute;
    top: 330px;
    left: 2%;
 }

.mbox1{
    position: relative;
    width: 100%;
    height: 916px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    
   
}

.mbox1>div{
    float: left;
}
.mbox1 .subbox1{
    width: 766px;
    height: 916px;
}
.mbox1 .subbox2{
    width: 555px;
    height: 916px;
    
    
    
}

.mbox1 .m1b1{
    background: url(../img/mbox1/banner1-1.png) no-repeat 0 0;
    width: 766px;
    height: 465px;
}
.mbox1 .m1b1 .pset{
   position: relative;
   top: 380px;
   left: 420px;
 
}
.mbox1 .m1b1 .txt{
    display: block;
    font-size: 34px;
    padding-left: 120px;
    font-weight: 500;
}
.mbox1 .m1b1 .tst{
    display: block;
    font-size: 30px;
}
.mbox1 .m1b1 img{
    position: relative;
    top: 320px;
    left: 670px;
}

.mbox1 .m1b2{
    background: url(../img/mbox1/banner1-2.png) no-repeat 0 0;
    width: 766px;
    height: 451px;
}
.mbox1 .m1b2 .pset{
    position: relative;
    top: 365px;
    left: 350px;
}
.mbox1 .m1b2 .txt{
    display: block;
    font-size: 34px;
    padding-left: 185px;
    font-weight: 500;
}
.mbox1 .m1b2 .tst{
    display: block;
    font-size: 30px;
}
.mbox1 .m1b2 img{
    position: relative;
    top: 310px;
    left: 670px;
}
.mbox1 .m1b3{
    background: url(../img/mbox1/banner1-3.png) no-repeat 0 0;
    width: 555px;
    height: 916px;
    padding-top: 15px;
    

}
.mbox1 .m1b3 .pset{
    position: relative;
    top: 800px;
    left: 150px;
    
}
.mbox1 .m1b3 .txt{
    display: block;
    font-size: 34px;
    padding-left: 165px;
    font-weight: 500;
    color: #fff;
}
.mbox1 .m1b3 .tst{
    display: block;
    font-size: 30px;
    color: #fff;
}
.mbox1 .m1b3 img{
    position: relative;
    top: 745px;
    left: 475px;
}
.mbox2{
    position: relative;
    width: 90%;
    height: 900px;
    background: #bef1e8;
    margin: 0 auto;
    margin-top: 90px;
    padding: 30px;
}

.mbox2 .m2b1{
    background: url(../img/mbox2/rimg1.png) no-repeat 0 0;
    width: 537px;
    height: 537px;
    border-radius: 500px;
    position: relative;
    top: 0px;
    overflow: hidden;
}
.mbox2 .m2b1 .pset{
    content: "";
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    opacity: 0;
    left:0;
}
.mbox2 .m2b1 .pset:hover{
    opacity: 1;
    transition: .5s;
}

.mbox2 .m2b1 .pWrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.mbox2 .m2b1 .pset p{
    display: block;
    font-size: 22px;
    text-align: center;
    color: white;
}
.mbox2 .m2b1 .pset p:last-of-type{
    font-size: 14px;
}
.mbox2 .m2b2{
    background: url(../img/mbox2/rimg2.png) no-repeat 0 0;
    width: 354px;
    height: 354px;
    border-radius: 500px;
    position: relative;
    top: -700px;
    left: 600px;
    overflow: hidden;
}
.mbox2 .m2b2 .pWrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.mbox2 .m2b2 .pset{
    content: "";
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.mbox2 .m2b2 .pset:hover{
    opacity: 1;
    transition: .5s;
}
.mbox2 .m2b2 .pset p{ 
    display: block;
    font-size: 22px;
    text-align: center;
    color: white;
}
.mbox2 .m2b2 .pset p:last-of-type{
    font-size: 18px;
}

.mbox2 .m2b3{
    background: url(../img/mbox2/rimg3.png) no-repeat 0 0;
    width: 341px;
    height: 341px;
    border-radius: 500px;
    position: relative;
    top: -800px;
    left: 970px;
    overflow: hidden;
}
.mbox2 .m2b3 .pset{
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.mbox2 .m2b3 .pset:hover{
    opacity: 1;
    transition: .5s;
}
.mbox2 .m2b3 .pset p{
    display: block;
    font-size: 22px;
    text-align: center;
    color: white;
}
.mbox2 .m2b3 .pset p:last-of-type{
    font-size: 18px;
}
.mbox2 .m2b4{
    background: url(../img/mbox2/rimg4.png) no-repeat 0 0;
    width: 363px;
    height: 363px;
    border-radius: 500px;
    position: relative;
    top: -970px;
    left: 600px;
    overflow: hidden;
}
.mbox2 .m2b4 .pset{
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.mbox2 .m2b4 .pset:hover{
    opacity: 1;
    transition: .5s;
}
.mbox2 .m2b4 .pset p{
    display: block;
    font-size: 22px;
    text-align: center;
    color: white;
}
.mbox2 .m2b4 .pset p:last-of-type{
    font-size: 18px;
}
.mbox2 a{
    display: block;
    font-size: 67px;
    padding: 50px 100px;
    color: black;
}
.mbox2 .arrowset{
    position: absolute;
    top: 90%;
    right: 5%;
    
}

.mbox2 .arrowset .tst{
    display: block;
    font-size: 30px;
    
}
.mbox2 .arrowset .arrow{
    margin-top: 2px;
}
.mbox2 .arrowset>span{
    float: left;
}


.mbox3{
    position: relative;
    height: 730px;
    background: url(../img/mbox3/m3.png) no-repeat 0 0;
    margin-top: 90px;
    width: 100%;
   
    
}
.mbox3 p{
    display: block;
    font-size: 100px;
    color: white;
    padding-top: 100px;
    padding-left: 120px;
}

.mbox3 .pset{
    padding-top: 100px;
    padding-left: 250px;
}
.mbox3 .pset p{
    display: block;
    font-size: 18px;
    color: #333;
    padding: 5px;
}
.mbox3 .arrowset{
    overflow: hidden;
    padding-top: 100px;
    padding-left: 250px;
}
.mbox3 .arrowset .tst{
    display: block;
    font-size: 28px;
    font-weight: 600;
    padding-top: 1px;
}
.mbox3 .arrowset .arrow{
    
}
.mbox3 .arrowset>span{
    float: left;
}

.mbox4{
    position: relative;
    height: 1089px;
    width: 100%;
    background: #e9ead6;
}
.mbox4 .subbox{
    height: 1023px;
    border-top: 1px solid #b6afaf;
    border-bottom: 1px solid #b6afaf;
    position: relative;
    top: 36px;
    display: flex;
    
}

.mbox4 .subbox .subcon1{
    width: 640px;
    height: 100%;
    border-right: 1px solid #b6afaf;
    padding: 10px;
}
.mbox4 .subbox .subcon1 .pset{
    margin-top: 100%;
}
.mbox4 .subbox .subcon1 .pset p{
    display: block;
    font-size: 100px;
    color: #d49450;
    
}
.mbox4 .subbox .subcon1 .pset p:last-of-type{
     position: relative;
     top: -40px;
}
.mbox4 .subbox .subconset{
    width: 100%;
    height: 100%;
    
   
}
.mbox4 .subbox .subconset .subcon2{
    width: 100%;
    height: 326px;
    border-bottom: 1px solid #b6afaf;
    position: relative;

 
}
.mbox4 .subbox .subconset .subcon2 .pset{
  padding-top: 75px;
  padding-left: 50px;
}
.mbox4 .subbox .subconset .subcon2 .pset p{
    display: block;
    font-size: 40px;
    color: #d49450;
    font-weight: 600;
    padding-top: 10px;
}
.mbox4 .subbox .subconset .subcon2 .pset p:first-of-type{
    font-size: 30px;
    font-weight: 500;
}
.mbox4 .subbox .subconset .subcon2 .pset p:last-of-type{
    font-size: 30px;
    font-weight: 400;
}
.mbox4 .subbox .subconset .subcon2 .img{
position: absolute;
top: 10%;
right: 1%;
}
.mbox4 .subbox .subconset .subcon2 .img img{}
.mbox4 .subbox .subconset .subcon2 a > div{
    float: left;
        
}

.mbox4 .subbox .subconset .subcon2 a .arrowset{
position: absolute;
top: 80%;
left: 4%;
}
.mbox4 .subbox .subconset .subcon2 a .arrowset > span{
    float: left;
}
.mbox4 .subbox .subconset .subcon2 a .arrowset sapn{}
.mbox4 .subbox .subconset .subcon2 a .arrowset .tst{
    display: block;
    font-size: 30px;
    color: #d49450;
    
}
.mbox4 .subbox .subconset .subcon2 a .arrowset .arrow{
    padding-top: 5px;
}
  
.mbox4 .subbox .subconset .subcon3{
    width: 100%;
    height: 376px;
    border-bottom: 1px solid #b6afaf;
    position: relative;
}
.mbox4 .subbox .subconset .subcon3 a{}
.mbox4 .subbox .subconset .subcon3 a .pset{
    padding-top: 75px;
    padding-left: 50px;
}
.mbox4 .subbox .subconset .subcon3 a .pset p{
    display: block;
    font-size: 40px;
    color: #d49450;
    font-weight: 600;
    padding-top: 10px;
}
.mbox4 .subbox .subconset .subcon3 .pset p:first-of-type{
    font-size: 30px;
    font-weight: 500;
}
.mbox4 .subbox .subconset .subcon3 .pset p:last-of-type{
    font-size: 30px;
    font-weight: 400;
}
.mbox4 .subbox .subconset .subcon3 a .arrowset{
 position: absolute;
 top: 75%;
 left: 5%;
}
.mbox4 .subbox .subconset .subcon3 a .arrowset > span{
    float: left;
}
.mbox4 .subbox .subconset .subcon3 a .arrowset sapn{}
.mbox4 .subbox .subconset .subcon3 a .arrowset .tst{
    display: block;
    font-size: 30px;
    color: #d49450;
}
.mbox4 .subbox .subconset .subcon3 a .arrowset .arrow{
    padding-top: 5px;
}
.mbox4 .subbox .subconset .subcon4{
    position: relative;
    height: 100%;
}
.mbox4 .subbox > div{
    float: left;
}
.mbox4 .subbox .subconset .subcon4 .pset{
    padding-top: 75px;
    padding-left: 50px;
  }
  .mbox4 .subbox .subconset .subcon4 .pset p{
      display: block;
      font-size: 40px;
      color: #d49450;
      font-weight: 600;
      padding-top: 10px;
  }
  .mbox4 .subbox .subconset .subcon4 .pset p:first-of-type{
      font-size: 30px;
      font-weight: 500;
  }
  .mbox4 .subbox .subconset .subcon4 .pset p:last-of-type{
      font-size: 30px;
      font-weight: 400;
  }
  .mbox4 .subbox .subconset .subcon4 .img{
  position: absolute;
  top: 1.5%;
  left: 50%;
  transform: translate(-50%);
  }
  .mbox4 .subbox .subconset .subcon4 .pwrap{
    width: 300px;
    height: 100%;
  }
  .mbox4 .subbox .subconset .subcon4 .img img{}
  .mbox4 .subbox .subconset .subcon4 a > div{
      float: left;
          
  }
  
  .mbox4 .subbox .subconset .subcon4 a .arrowset{
   position: absolute;
   top: 25%;
   left: 4%;
  }
  .mbox4 .subbox .subconset .subcon4 a .arrowset > span{
      float: left;
  }
  .mbox4 .subbox .subconset .subcon4 a .arrowset sapn{}
  .mbox4 .subbox .subconset .subcon4 a .arrowset .tst{
      display: block;
      font-size: 30px;
      color: #d49450;
      
  }
  .mbox4 .subbox .subconset .subcon4 a .arrowset .arrow{
      padding-top: 5px;
  }

  .mbox4 .subbox .subconset .subcon4 .pset2{
    position: absolute;
    top: 7%;
    right: 7%;
  }
  .mbox4 .subbox .subconset .subcon4 .pset2 .subpset1{}
  .mbox4 .subbox .subconset .subcon4 .pset2 .subpset1 p{
    display: block;
    font-size: 18px;
    color: #d49450;
  }
  .mbox4 .subbox .subconset .subcon4 .pset2 .subpset2{
    padding-top: 10px;
  }
  .mbox4 .subbox .subconset .subcon4 .pset2 .subpset2 p{
    display: block;
    font-size: 18px;
    color: #d49450;
  }


  .mbox5{
    width: 100%;
    height: 595px;
    background: #e9ead6;
  }

  .mbox5 .subbox{
    width: 1320px;
    margin: 0 auto;
  }
  .mbox5 .subbox .spnset{
    display: flex;
    justify-content: center;
        
  }

  
  
  .mbox5 .subbox .spnset span{
     display: block;
     font-size: 58px;
     display: inline-block;
     font-weight: 600;
  }
  .mbox5 .subbox .spnset .tst1{
     
  }
  .mbox5 .subbox .spnset .tst2{
    color: red;
    padding-left: 10px;
  }
  .mbox5 .subbox .imgset{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .mbox5 .subbox .imgset > div{
      margin: 30px;
  }


  .mbox5 .subbox .imgset .img1{
   
    background: url(../img/mbox5/m4img-1.png) no-repeat 0 0;
    width: 386px;
    height: 331px;
    
  }
  .mbox5 .subbox .imgset .img1 p{
    background: black;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 14px;
    opacity: 0;
  }
  .mbox5 .subbox .imgset .img1 p:hover{
    opacity: 1;
    transition: 0.5s;

  }
  .mbox5 .subbox .imgset .img2{
    
    background: url(../img/mbox5/m4img-2.png) no-repeat 0 0;
    width: 330px;
    height: 331px;
  }
  .mbox5 .subbox .imgset .img2 p{
    background: black;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 14px;
    opacity: 0;
  }
  .mbox5 .subbox .imgset .img2 p:hover{
    opacity: 1;
    transition: 0.5s;
  }
  .mbox5 .subbox .imgset .img3{
    background: url(../img/mbox5/m4img-3.png) no-repeat 0 0;
  
    width: 328px;
    height: 331px;
  }
  .mbox5 .subbox .imgset .img3 p{
    background: black;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 14px;
    opacity: 0;
  }
  .mbox5 .subbox .imgset .img3 p:hover{
    opacity: 1;
    transition: 0.5s;
  }


  footer{
    width: 100%;
    height: 623px;
    background: #e1572c;
  }

  footer .logo2{
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  footer .logo2 img{

  }
  footer .iconset{
    display: flex;
    justify-content: center;
  }
  footer .iconset img{
    padding: 50px;
  }
  footer .pset1{
    display: flex;
    justify-content: center;
  }
  footer .pset1 p{
    display: block;
    font-size: 24px;
    color: white;
    font-weight: 500;
  }
  footer .pset2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 18px;
    color: white;
    font-weight: 400;
  }
  footer .pset2 p{
    display: block;
    font-size: 18px;
    color: white;
    font-weight: 400;
  }
  footer .pset3{
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
  footer .pset3 p{
    display: block;
    font-size: 16px;
    color: white;
    font-weight: 300;
  }
    